@model List<Users>
<body>
    <h1>SafeSpace   |   Hello @ViewBag.Name!</h1>
    <nav><h2><a class="btn btn-primary" href="/result">Home</a> | <a class="btn btn-primary" href="/friends">Friends</a> | <a class="btn btn-primary" href="/user/@ViewBag.UserId">Profile</a> | <a class="btn btn-primary" href="/logout">Log Out</a></h2></nav>
    <h3>Search Friends</h3>
    <a href="/requests/@ViewBag.UserId">Friend Requests</a>
    @{
        foreach(Users u in @Model)
        {
            if(u.UserId != @ViewBag.UserId)
            {
                <p><a href="/user/@u.UserId">@u.FirstName @u.LastName</a></p>
            }
            
        }
    }
    <p></p>
</body>