@model List<UserHaveFriends>
<body>
    <h1>SafeSpace   |   Hello @ViewBag.Name!</h1>
    <nav><h2><a class="btn btn-primary" href="/result">Home</a> | <a class="btn btn-primary" href="/friends">Friends</a> | <a class="btn btn-primary" href="/user/@ViewBag.UserId">Profile</a> | <a class="btn btn-primary" href="/logout">Log Out</a></h2></nav>
    @{
        foreach(UserHaveFriends u in Model)
        {
            <p>Friend Request From @u.SentBy.FirstName @u.SentBy.LastName <a class="btn btn-primary" href="/accept/@u.SentBy.UserId">Accept</a> <a class="btn btn-primary" href="/deny/@u.SentBy.UserId">Deny</a></p>
        }
    }
</body>